In [6]:
import pandas as pd
import seaborn as sb
import numpy as np
import os
import sys
import csv
from collections import defaultdict, Counter

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv")
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [3]:
df.to_csv("D:\Open Classroom\Ethereum\ETH_1h.csv")

In [7]:
with open ("D:\Open Classroom\Ethereum\ETH_1h.csv", encoding = "utf-8") as file:
    fileReader = csv.DictReader(file)
    
    fileCounter = Counter()
    for line in fileReader:
        print(line)
        break

{'': '0', 'Date': '2020-03-13 08-PM', 'Symbol': 'ETHUSD', 'Open': '129.94', 'High': '131.82', 'Low': '126.87', 'Close': '128.71', 'Volume': '1940673.93'}

In [19]:
newDf = pd.read_csv("https://raw.githubusercontent.com/jakevdp/data-CDCbirths/master/births.csv")
newDf.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [20]:
newDf.to_csv("D:\Open Classroom\CDC Births\Births.csv")

In [21]:
#Note : When exporting to a csv file, make sure the name of the new csv file starts with caps
ufo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv")
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [30]:
ufo.to_csv(r"D:\Open Classroom\UFO\UFO_D1.csv")
#Due to unicode error caused by unicodeescape of the given file path "D:\Open Classroom\UFO\UFO_D1.csv"
#passing r at the beginning of the path name will resolve the issue to produce a raw string

In [36]:
tsFile = pd.read_csv("D:\Open Classroom\Ethereum\ETH_1h.csv")
tsFile.to_csv("D:\Open Classroom\Tsv File Format\ETH.tsv", sep = "\t")
tsFile.head()

,Unnamed: 0,Date,Symbol,Open,High,Low,Close,Volume
0,0,2020-03-13 08-PM,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
1,1,2020-03-13 07-PM,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2,2,2020-03-13 06-PM,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
3,3,2020-03-13 05-PM,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
4,4,2020-03-13 04-PM,ETHUSD,124.85,129.51,120.17,124.08,4461424.71

In [37]:
#Writing to newer version of xl file
tsvFile = pd.read_csv("D:\Open Classroom\Ethereum\ETH_1h.csv")
tsvFile.to_excel("D:\Open Classroom\Excel File\Excel_1.xlsx")